<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
<main class="container">
<nav style="margin-bottom: 40px">
    <a href="/panel" role="button">Inicio</a>
    <a href="/alumnos" role="button">Alumnos</a>
    <a href="/materias/crear_materia" role="button">Crear Materia</a>
    <a>Bienvenido Emiliano</a>
</nav>

<h1>Materias</h1>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Creditos</th>
        <th>Profesor</th>
    </tr>
    </thead>
    <tbody>
    {% for materia in materias %}
        <tr>
            <td>{{ materia.nombre }}</td>
            <td>{{ materia.creditos }}</td>
            <td>{{ materia.profesor }}</td>
            <td>
                <form method="POST" action="/materias/eliminar_materia">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ materia.id }}">
                    <button type="submit" class="contrast">
                        Eliminar
                    </button>
                </form>
                <form method="GET" action="/materias/crear_materia">
                    <input type="hidden" name="id" value="{{ materia.id }}">
                    <button type="submit">
                        Actualizar
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</main>
</body>
</html>