<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
<main class="container">

<nav style="margin-bottom: 40px">
    <a href="/alumnos" role="button">Alumnos</a>
    <a>Bienvenido Emiliano</a>
</nav>


<form method="POST">
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% csrf_token %}
    <input type="hidden" name="id" value="{{ alumno.id|default:'' }}">

    <input type="text" name="nombre" placeholder="Nombre" value="{{ alumno.nombre|default:'' }}">
    <input type="text" name="apellido" placeholder="Apellido" value="{{ alumno.apellido|default:'' }}">
    <input type="text" name="email" placeholder="Email" value="{{ alumno.email|default:'' }}">
    <input type="text" name="carrera" placeholder="Carrera" value="{{ alumno.carrera|default:'' }}">
    <input type="text" name="semestre" placeholder="Semestre" value="{{ alumno.semestre|default:'' }}">

    <button type="submit">
        {% if alumno.id %}
            Editar alumno
        {% else %}
            Agregar alumno
        {% endif %}
    </button>
</form>
</main>
</body>
</html>