<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
<main class="container">

    <nav style="margin-bottom: 40px">
        <a href="/alumnos" role="button">Alumnos</a>
        <a href="/alumnos" role="button">Materias</a>
        <a>Bienvenido {{ request.user }}</a>
    </nav>


    <form method="POST">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        {% csrf_token %}

        <label for="materia">
            Materia
            <select id="materia" name="id_materia">
                {% for materia in materias %}
                    <option value="{{ materia.id }}">{{ materia.nombre }}</option>
                {% endfor %}
            </select>
        </label>

        <label for="alumno">
            Alumno
            <select name="id_alumno">
                {% for alumno in alumnos %}
                    <option value="{{ alumno.id }}">{{ alumno.nombre }}</option>
                {% endfor %}
            </select>
        </label>

        <button type="submit">
            Inscribir alumno
        </button>
    </form>
</main>
</body>
</html>